@model TrainingPortal.Models.Student
    
<nav class="side-nav">
    <h3>Browse</h3>
    <br />
    @Html.ActionLink("Log Off", "LogOff", "Account")

    <br />
    <br />

    @*@Html.ActionLink("Personal Information", "_PersonalInfo", "Portal", new { id = Model.StudentID}, null)*@

</nav>