<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TrainingPortalEntities" connectionString="metadata=res://*/Data.TrainingPortalModel.csdl|res://*/Data.TrainingPortalModel.ssdl|res://*/Data.TrainingPortalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=TrainingPortal;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>