@model TrainingPortal.Models.CourseView
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_CourseLayout.cshtml";
}


<h2>Payment</h2>

<style>

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 100px;
    }

    .container {
        margin: auto;
        width: 50%;
        padding: 10px;
    }

    label {
        color: white;
        font-weight: bold;
    }

    hr {
        height: 1px;
    }
</style>

<div class="container" style="background: #0D1218">
    <form>
        <img class="center" src="payment.png">
        <br>

        <h4 style="color: white">Credit Card Payment</h4>
        <hr color="#ff3547">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCardNumber">Card Number</label>
                <input type="text" class="form-control" id="inputCardNumber">
            </div>
            <div class="form-group col-md-6">
                <label for="inputCardHolderName">Card Holder Name</label>
                <input type="text" class="form-control" id="inputCardHolderName">
            </div>
            <div class="form-group col-md-6">
                <label for="inputExpiryDate">Expiry Date</label>
                <input type="date" class="form-control" id="inputExpiryDate">
            </div>
            <div class="form-group col-md-6">
                <label for="inputCardSecurityCode">Card Security Code</label>
                <input type="password" class="form-control" id="inputCardSecurityCode">
            </div>
        </div>

        <button style="background:#ff3547 " type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
</div>







<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
