
@{
    ViewBag.Title = "SelectedCours";
    Layout = "~/Views/Shared/SignedInLayout.cshtml";
}

<h2>SelectedCours</h2>

<style>
        body{
            padding-top: 50px;
        }

        .container{
            padding: 50px;
        }
    </style>
<
<div class="container">
    <div class="container" style="background: #0D1218">
        <form>
            <h4 style="color: white" align="center">Course Details</h4>
            <hr color="#ff3547">
            <div class="row">
                <div class="col-sm">

                    <img src="~/Content/Images/Courses/3 csharp-e7b8fcd4ce.png" />
                </div>
                <div class="col-sm">
                    <h5 style="color: white" align="center">C#</h5>
                    <h3 style="color: #ff3547" align="center">R4999,99</h3>

                    <p style=" text-align: center; color: white; word-wrap: normal">Learn the fundamentals of programming in C#. You'll learn how to create a simple console-based program that your users can interact with. Along the way, you'll learn important skills that you'll be using for the rest of your C# career!</p>

                </div>

            </div>
            
            
            @Html.ActionLink("Pay", "Payment", "Users")
        </form>

    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>