
@{
    ViewBag.Title = "ThankYouForPurchasing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align: center; padding-top: 200px;">
    <h1>THANK YOU FOR PURCHASING THIS COURSE</h1>
    <h2>We Look forward to getting in touch with you</h2>
    @Html.ActionLink("Click Here to continue your development journey", "Index")
</div>

